@-webkit-keyframes scaleMic {
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes scaleMic {
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}


body{
	background:#000;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:#fff;
	width:100%;
	overflow:hidden;
}
#mainbody{
	display:none;
}
.main-greeting {
	height:110px;
	position:relative;
}
.main-greeting h2 {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	text-align:center;
	font-weight:400;
}
.main-greeting h2#step2,
.main-greeting h2#step3,
.main-greeting h2#step4 {
	left:100%;
}
.main-greeting h2 span {
	font-weight:600;
}
.main-greeting h2 i.fa {
	color:#e14938;
	margin-left:20px;
}
.main-greeting h2 .animated-zoom {
	-webkit-animation: scaleMic 1s linear infinite;
	animation: scaleMic 1s linear infinite;
}
.main-greeting h2 b {
	margin-left:20px;
}
.holder {
	margin:0 auto;
	width:1024px;
	position:relative;
}
#v{
	width:1024px;
	height:768px;
}
#qr-canvas{
	display:none;
}
#mp1{
	text-align:center;
	font-size:35px;
}
#outdiv
{
	width:1024px;
	height:768px;
	margin:0 auto;
}
#result{
	display:none;
	position:absolute;
	font-size:36px;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:#fff;
	z-index:10000;
	padding-top:150px;
}
.face-video {
	position:absolute;
	border:5px solid #fff;
	border-radius:5px;
}
#info_speech {
	display:none;
	color:#fff;
	font-size:36px;
}
.img-holder {
	text-align: center;
}

#name,
#user_id {
	font-weight:600;
}
p.small {
	color:#999;
	font-size:24px;
	margin-top:40px;
}



.animations {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.animations > div {
	position:absolute;
}
.animations .kot {
	bottom:-350px;
	left:0;
	background:url('../img/kot.png') left top no-repeat;
	width:381px;
	height:356px;
}