/* Fonts */
@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Main part */

.site-page { max-width:990px; min-width:990px; width:990px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }

.grid h1 { font-family:'bebas_neue_regularregular', 'Tahoma', sans-serif; color:#fff; }

.chart.chart-days,
.flip-clock-divider.days,
.flip-clock-divider.days + ul.flip,
.flip-clock-divider.days + ul.flip + ul.flip { display:none; }

h3 { text-align:left; }
img.logo { float:left; margin:0 60px; }

.colored-logo h1 {
    font-family: 'bebas_neuebold', 'Tahoma', sans-serif;
    font-size: 44px;
    margin: 30px 0;
    text-align: center;
}
.colored-logo h1 span i { font-style: normal; }
.colored-logo h1 span i:nth-child(1) { color: #00aeef; }
.colored-logo h1 span i:nth-child(2) { color: #ec008c; }

.grid__item.one-whole.push--top { font-family:'bebas_neue_regularregular', 'Tahoma', sans-serif; font-size:30px; }

.reg-form-wrapper {
    width: 600px;
    margin: 100px auto;
}

.user-name, .user-code { margin-bottom:20px; }

.user-img-wrapper {
    position: relative;
    border: 1px solid white;
    border-radius: 3px;
    width: 106px;
    height: 106px;
    overflow: hidden;
    display: block;
}

.user-img-wrapper > img {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 100px;
    height: 100px;
    z-index: 5;
}

.user-img-wrapper .help-txt {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.user-img-wrapper input {
    width: 106px;
    height: 106px;
    top: 0;
    left: 0;
    overflow: hidden;
    display: block;
    z-index: 10;
}

.user-photo {
    width: 76px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 17px;
    opacity: 0;
}
button.btn { padding:10px 15px; }

.btn-photo {
    display: block;
    margin-bottom: 20px;
    width: 76px;
}

.btn-ok {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.btn-modal {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.input-group-addon {
    background: transparent;
    padding: 0 0 0 17px;
    border: none;
}

.clock-holder { position:relative; }
.clock-holder .started { position:absolute; width:110px; left:0; top:43%; font-family:'bebas_neue_regularregular', 'Tahoma', sans-serif; font-size:22px; color:#fff; }

label.error { font-family:'bebas_neuelight', 'Tahoma', sans-serif; }