<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>main screen</title>
  <link rel="stylesheet" href="/media/css/font-awesome.min.css">
  <link rel="stylesheet" href="/media/css/owl.carousel.css">
  <link rel="stylesheet" href="/media/css/owl.transitions.css">
  <link rel="stylesheet" href="/media/css/bootstrap.min.css">
  <link rel="stylesheet" href="/media/css/main2.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body class="screen">
  <h1><span><i>#vse</i><i>mayki</i><i>2016</i></span></h1>
  <div id="users"></div>
  <div id="instafeed"></div>
  <audio>
    <source src="/music/Nyan_Cat_original.mp3"></source>
  </audio>
  <div class="modal fade" id="winner" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img class="img-responsive" src="">
          <p>#<span class="code"></span><span class="name"></span></p>
          <p><span class="prize"></span></p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
   <div class="modal fade" id="new_user" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img class="img-responsive" src=''>
          <p class="prev">У нас гость:</p>
          <p><span class="name"></span></p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/media/js/owl.carousel.min.js"></script>
<script src="/media/js/bootstrap.min.js"></script>
<script src="/media/js/instafeed.js"></script>
<script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

  var socket = io();

  socket.on('raffle', function(msg){
    if (msg.prize) {
      $('#messages').append($('<li>').text(msg));
      startRaffle(55, msg.prize);
    } else {
      var $newUserModal = $('#new_user');
      $newUserModal.find('img').attr('src', msg.img_url);
      $newUserModal.find('.name').text(msg.name);
      $newUserModal.modal('show');
      $('<div class="user" style="background-image:url('+ msg.img_url +');"><div class="user-data" data-name="'+ msg.name +'" data-code="'+ msg.code +'" data-src=' + msg.img_url + '></div>').appendTo('#users');
      setTimeout(function() {
        $newUserModal.modal('hide');
      },5000);
      console.log(msg)
    }
  });

</script>
</body>
</html>