<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru-RU"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>#vsemayki2016</title>

        <link rel="stylesheet" href="/media/css/jquery.Jcrop.css">
        <link rel="stylesheet" href="/media/css/bootstrap.min.css">
        <link rel="stylesheet" href="/media/css/loader.min.css"/>
        <link rel="stylesheet" href="/media/css/main.min.css"/>
        <link rel="stylesheet" href="/media/css/custom.css">
        <link rel="stylesheet" href="/media/css/font-awesome.min.css">

        <script src="/media/js/modernizr.custom.min.js"></script>
        <!--[if lte IE 8]>
        <script src="/media/js/respond.min.js"></script>
        <![endif]-->
        <script>
            var now = new Date();
            var miniGoOptions = {
                theme: {
                    contentBackground: false
                },
                countdown: {
                    type: 'piechart',
                    startDate: new Date("December 1, 2015 12:00"),
                    targetDate: new Date("December 24, 2015 19:00")
                },
                background: {
                    color: '#000'
                }
            }
        </script>
    </head>
    <body style="background-color: rgb(0,0,0);">

        <div class="colored-logo">
            <h1><span class=""><i>#vse</i><i>mayki</i><i>2016</i></span></h1>
        </div>

        <div class="reg-form-wrapper">
            <form class="form-ajax" data-success-response="success" action="mailListHandler.php" method="post">
                <div class="input-group">
                    <input class="text-input user-name" name="email" type="text" placeholder="Имя" data-msg-required="Обязательное поле" data-msg-email="Пожалуйста, введите ваше Имя." required>
                    <input class="text-input user-code" name="tel" type="number" placeholder="Код" data-msg-required="Обязательное поле" data-msg-email="Пожалуйста, введите ваш код." required>
                    <button class="btn btn--font-black btn-ok" type="button" autocomplete="off"><span>ок</span><i class="form-spinner fa fa-spinner"></i></button>
                    <div class="errLabel"></div>
                    <div class="input-group-addon">
                        <div class="user-img-wrapper">
                            <div class="help-txt">
                                <span>Загрузите<br>ваше<br>фото</span>
                            </div>
                            <img id="userImg" src="" width="100" height="100" alt="" style="display:none;">
                            <input class="file-input user-photo" name="photo" type="file" placeholder="Ваше фото" id="photoInputFile" size="1">
                        </div>
                        <!--<button class="btn btn-photo" type="button"><span>Photo</span><i class="form-spinner fa fa-spinner"></i></button>-->
                    </div>
                </div>

                <input type="hidden" name="subscribe">

                <input type="text" name="important-info">
                <!-- Don't remove the above field. It is a decoy to prevent spam -->
            </form>
        </div>

        <div class="nav-social">
            <a href="https://www.instagram.com/vsemayki/" title="Лайкайте в Инстаграме" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="http://vk.com/club_vsemayki" title="Присоединяйтесь в Вконтакте" target="_blank"><i class="fa fa-vk"></i></a>
            <a href="http://ok.ru/vsemayki" title="Загляните в Одноклассники" target="_blank"><i class="fa fa-odnoklassniki"></i></a>
        </div>

        <div id="modalEditor" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">&nbsp;</h4>
                    </div>
                    <div class="modal-body">
                        <img id="editImg" class="img-responsive center-block" src="" alt="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-modal btn-primary" data-dismiss="modal">Save and Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--[if lte IE 8]><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><![endif]-->
        <!--[if gt IE 8]><!--><script src="/media/js/jquery.min.js"></script><!--<![endif]-->
        <script src="/media/js/bootstrap.min.js"></script>
        <script src="/media/js/jquery.Jcrop.min.js"></script>
        <script src="/media/js/flipclock.min.js"></script>
        <script src="/media/js/jquery-ui.min.js"></script>
        <!--[if gt IE 8]><!-->
        <script src="/media/js/jquery.easypiechart.min.js"></script>
        <!--<![endif]-->
        <script src="/media/js/jquery.validate.min.js"></script>
        <script src="/media/js/main.min.js"></script>
        <!--[if lte IE 9]>
        <script src="/media/js/jquery.placeholder.min.js"></script>
        <![endif]-->
        <script src="/media/js/imageUpload.js"></script>
	</body>
</html>